body {
    background-color: #65cabb;
    font-family: Arial, sans-serif;
}

form {
    width: 350px;
    margin: 80px auto;
    padding: 25px;
    background-color: white;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}
h3 {
    text-align: left;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

span {
    color: rgb(0, 162, 255);
    font-size: 13px;
}

button {
    padding: 8px 20px;
    background-color: #5fa8ff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #3f8efc;
}